@import url(https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap")


body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Chelsea Market', 'Overlock'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font1{
    font-family: 'Chelsea Market';
}

.font2{
    font-family: 'Overlock';
}

.navFont{
    font-family: 'Chelsea Market';
}

.navbar-light .navbar-nav .nav-link {
    color: #3C9D7A;
    :hover{
      color: #8CD4BA;
    }
}

.homeStyle{
    background: linear-gradient(#8CD4BA, #3C9D7A);
    overflow-y: scroll;
}
.navBar{
    background-color: #FFF;
}

body {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  background: #015871;
}

.pirateWave{
  position: absolute;
  top: -204px;
  right: 606px;
  animation: wave 8s cubic-bezier(0, 0.69, 1, -1.15) -0.125s infinite, swell 5s ease -2.25s infinite;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 22s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}

.footer{
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  background-color: #000;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  /* background-color: #3C9D7A; */
}